*.pptx
*.mp4
*.mpg
*.avi
*.zip
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/nbproject/private/
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/build/
/2°Año/1°Semestre/AYED/2025/Practicas/nbproject/private/
/2°Año/1°Semestre/AYED/2025/Practicas/AYED/build/
/2°Año/2°Semestre/OO1/OO1/nbproject/private/
