*.pptx
*.mp4
*.mpg
*.avi
*.zip
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/nbproject/private/
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/build/
