*.pptx
*.mp4
*.mpg
*.avi
*.zip
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/nbproject/private/
/1°Año/2°Semestre/Taller de programacion/Cursada 2023/Modulo Objetos/Practicas/Practicas/build/
/2°Año/1°Semestre/AYED/2025/Practicas/nbproject/private/
/2°Año/1°Semestre/AYED/2025/Practicas/AYED/build/
/2°Año/2°Semestre/OO1/OO1/nbproject/private/
/2°Año/2°Semestre/OO1/ejercicio1/target/
/2°Año/2°Semestre/OO1/OO1/target/
/2°Año/2°Semestre/AYED-Redictado/Parciales/Resolucion Parciales/Parciales/target/
/2°Año/2°Semestre/AYED-Redictado/Parciales/Resolucion Parciales/target/
/2°Año/2°Semestre/AYED-Redictado/Parciales/Resolucion Parciales/Presupuesto/target/
/2°Año/2°Semestre/OO1/Ejercicios/Prespuesto/target/
/2°Año/2°Semestre/OO1/Ejercicios/BalanzaElecrtonica/target/
/2°Año/2°Semestre/OO1/Ejercicios/BalanzaElecrtonica-mejorada/target/
/2°Año/2°Semestre/OO1/Ejercicios/FormasFiguras/target/
/2°Año/2°Semestre/OO1/Ejercicios/Mamifero/target/
/2°Año/2°Semestre/OO1/Ejercicios/RedDeAlumbrado/target/
/2°Año/2°Semestre/AYED-Redictado/Parciales/Resoluciones/Parciales/target/
/2°Año/2°Semestre/AYED-Redictado/Parciales/Resoluciones/InstrumentoFinanciero/target/
/parciales/Parciales/target/
/2°Año/2°Semestre/OO1/Practicas/Ejercicioi21/target/
